<main class="content">
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12 text-right">
                <%= link_to root_path, class: "btn btn-outline-primary" do %>
                  Some button
                  <i data-feather="search"></i>
                <% end %>
              </div>
            </div>

            <hr>
            Hello world!
          </div>
        </div>
      </div>
    </div>
  </div>
</main>